:root {
  --rock: #cc2900;
  --paper: #3333cc;
  --scissors: #cc0066;
}

body{
  color: #fff;
    background: -webkit-linear-gradient(110deg, var(--rock) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--paper) 66%, var(--scissors) 66%);
    background: -o-linear-gradient(110deg, var(--rock) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--paper) 66%, var(--scissors) 66%);
    background: -moz-linear-gradient(110deg, var(--rock) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--paper) 66%, var(--scissors) 66%);
    background: linear-gradient(110deg, var(--rock) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--paper) 66%, var(--scissors) 66%);
}

h1{
  position: relative;
  left: 40%;
}

.box{
  position: relative;
  border-style: solid;
  display: box;
  left: 37% ;
  row: 1;
  column: 1;
  border-width: 6px;
  height: 70vh;
  width: 25vw;
}

.rockhand {
  background-color: var(--rock);
  position: absolute;
  border: black;
  border-style: solid;
}

.rockPinkyFinger {
  width: 15%;
  height: 25%;
  left: 10%;
  top: 20%;
  z-index: 2;
}

.rockRingFinger {
  width: 15%;
  height: 30%;
  top: 20%;
  left: 29%;
  z-index: 2;
}

.rockMiddleFinger {
  width: 15%;
  height: 30%;
  top: 20%;
  right: 34%;
  z-index: 2;
}

.rockPointerFinger {
  width: 15%;
  height: 30%;
  top: 20%;
  right: 14%;
  z-index: 2;
}

.rockThumb {
  width: 35%;
  height: 15%;
  top: 40%;
  right: 14%;
  z-index: 2;
}

.rockPalm {
  width: 73.5%;
  height: 50%;
  top: 25%;
  left: 10%;
  border-radius: 0% 0% 10% 10%;
  z-index: 1;
}

.paper {
  background-color: var(--paper);
  position: absolute;
  border-style: solid;
}

.paperPinkyFinger {
  width: 10%;
  height: 20%;
  left: 15%;
  top: 23.4%;
}

.paperRingFinger {
  width: 10%;
  height: 25%;
  left: 30%;
  top: 18%;
}

.paperMiddleFinger {
  width: 10%;
  height: 30%;
  left: 45%;
  top: 13.4%;
}

.paperPointerFinger {
  width: 10%;
  height: 25%;
  left: 60%;
  top: 18.4%;
}

.paperPalm {
  width: 55%;
  height: 30%;
  left: 15%;
  top: 48%;
  border-radius: 0% 0% 10% 10%;
}

.paperThumb {
  width: 10%;
  height: 20%;
  right: 14%;
  top: 50%;
  border-radius: 0% 0% 60% 0%;
}

.scissors {
  position: absolute;
  background-color: var(--scissors);
  border-style: solid;
  borderwidth: 3%;
}

.scissorsPinkyFinger{
  width: 10%;
  height: 20%;
  top: 40%;
  left: 20%;
  z-index: 2;
}

.scissorsRingFinger{
  width: 10%;
  height: 25%;
  top: 35%;
  left: 34%;
  z-index: 2;
}

.scissorsThumb{
  width: 20%;
  height: 10%;
  bottom: 30%;
  right: 30%;
  z-index: 2;
}

.scissorsMiddleFinger{
  width: 10%;
  height: 35%;
  right: 39.5%;
  top: 19%;
  z-index: 2;
}

.scissorsPointerFinger{
  width: 10%;
  height: 30%;
  right: 22%;
  top: 24%;
  transform: rotate(15deg);
  z-index: 2;
}

.scissorsPalm{
  width: 45%;
  height: 20%;
  bottom: 14%;
  left: 20%;
  border-radius: 0% 0% 10% 10%;
  z-index: 1;
}

.button {
  position: absolute;
  bottom: 10%;
}
