:root {
  --rock: #cc2900;
  --paper: #3333cc;
  --scissors: #cc0066;
  --rockBG: #AC2300;
  --paperBG: #2E2EB8;
  --scissorsBG: #B8005C;
}

html{
  height: 100%;
  color: #fff;
    background: linear-gradient(110deg, var(--rockBG) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--paperBG) 66%, var(--scissorsBG) 66%);
}

h1{
  position: relative;
  left: 39%;
   -webkit-text-stroke: 2px White;
  font-family: impact;
  color: black;
  font-size: 40px;
}

.box{
  position: relative;
  border-style: solid;
  display: box;
  left: 37% ;
  row: 1;
  column: 1;
  border-width: 6px;
  height: 70vh;
  width: 25vw;
}

#rock {
  position: relative;
  font-size: 50vh;
  left: 14%;
  top: 10%;
}

#paper {
  position: relative;
  font-size: 50vh;
  left: 14%;
  top: 5%;
}

#scissors {
  position: relative;
  font-size: 50vh;
  left: 14%;
  top: 5%;
}

#progressBar{
  margin-top: 5px;
  width: 100px;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

#filler{
  height: 100%;
  width: 100%;
  background-color: lightgreen;
}

.button {
  position: relative;
  left: 47%;
  height: 60px;
  width: 120px;
  border: solid 6px white;
  background: Black;
  color: White;
  font-family: impact;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.tickdown{
  animation: countdown 5s linear;
}

@keyframes countdown{
  from{
    transform: translateX(0%);
    background-color: lightgreen;
  }
  50%{
    transform: translateX(-50%);
    background-color: yellow;
  }
  to{
    transform: translateX(-100%);
    background-color: red;
  }
}
